Input:
(in the same order)
Name:
Long Description:
Short Description:
Image:
Symbol:
Labels: 

How to Use:
1) from Main.py call topsis(name, long_disc, short disc, image, symbol, labels)
2) return value is overall score of the catalog


